body {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
}

.card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.card-header {
  background-color: #000682;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  text-align: center;
}

.card-body {
  padding: 20px;
  background-color: #f7f7f7;
}

.card-footer {
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.chart-container {
  width: 100%;
  max-width: 800px; /* Set a max width for the charts */
  height: 400px;
  margin: 20px auto; /* Center the charts */
  display: block; /* Ensure block behavior */
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.figure-caption {
  font-size: 14px;
  color: #333;
}

.text-muted {
  color: #6c757d;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 25px;
  }

  h1, h2 {
    font-size: 22px;
  }
}
